**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
s=input("enter your string ")
len(s)
print(len(s))

enter your string abdo
4

In [ ]:


s=input("enter your string \n")
def length_s(s):
    count=0
    for char in s:
        count+=1
    return count
print (length_s(s))

enter your string
abdo
4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:

s = input("Enter your string:\n")

def get_s(s):
    if len(s) <= 2:
        return "Empty String"
    else:
        return s[:2] + s[-2:]

print(get_s(s))

Enter your string:
ab
Empty String

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
def add_ing_or_ly(s):
    if len(s) < 3:
        return s
    elif s.endswith('ing'):
        return s + 'ly'
    else:
        return s + 'ing'

s = input("Enter a string: ")
result = add_ing_or_ly(s)

print("Result:", result)

Enter a string: abdo
Result: abdoing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def find_longest_word(words):
    longest_word = ""
    max_length = 0

    for word in words:
        length = 0
        for _ in word:
            length += 1

        if length > max_length:
            max_length = length
            longest_word = word

    return longest_word, max_length

words_list = ["Python", "Exercises", "code", "longest"]
longest_word, length = find_longest_word(words_list)
print("Longest word:", longest_word)
print("Length of the longest word:", length)

Longest word: Exercises
Length of the longest word: 9

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
def swap_first_last_char(s):
    new_s = ""
    length = 0
    for _ in s:
        length += 1

    if length < 2:
        return s

    first_char = s[0]
    last_char = s[length - 1]

    new_s += last_char
    i = 1
    while i < length - 1:
        new_s += s[i]
        i += 1
    new_s += first_char

    return new_s

sample = "abdo"
print("Result:", swap_first_last_char(sample))

Result: obda

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
def remove_odd_index_chars(s):
    result = ""
    index = 0

    for char in s:
        if index % 2 == 0:
            result += char
        index += 1

    return result

# مثال
sample = "abdo"
print("Result:", remove_odd_index_chars(sample))

Result: ad

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
def count_word_occurrences_simple(sentence, target):
    words = sentence.split()
    return words.count(target)

sentence = "amr and ahmed are frindes but amr is the tallest"
print("Result:", count_word_occurrences_simple(sentence, "amr"))

Result: 2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
user_input = input("Enter a string: ")

print("Upper case:", user_input.upper())

print("Lower case:", user_input.lower())

Enter a string: abdo
Upper case: ABDO
Lower case: abdo

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reverse_if_multiple_of_four(s):
    length = 0
    for _ in s:
        length += 1

    if length % 4 == 0:
        reversed_s = ""
        i = length - 1
        while i >= 0:
            reversed_s += s[i]
            i -= 1
        return reversed_s
    else:
        return s

print(reverse_if_multiple_of_four("abcd"))       # -> "dcba"
print(reverse_if_multiple_of_four("hello"))      # -> "hello"
print(reverse_if_multiple_of_four("abcdefgH"))   # -> "Hgfedcba"

dcba
hello
Hgfedcba

**10- Write a Python program to remove a newline in Python

In [ ]:
text = "Hello\nWorld"
cleaned_text = text.replace("\n", "")
print("Without newline:", cleaned_text)

Without newline: HelloWorld

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
def starts_with_manual(text, prefix):
    i = 0
    while i < len(prefix):
        if i >= len(text) or text[i] != prefix[i]:
            return False
        i += 1
    return True

string = "Hello World"
start = "Hello"
print("Starts with specified characters?", starts_with_manual(string, start))

Starts with specified characters? True

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
def add_prefix_to_lines(text, prefix):
    lines = text.splitlines()
    new_lines = [prefix + line for line in lines]
    return '\n'.join(new_lines)

text = """Line one
Line two
Line three"""
prefix = "--> "
result = add_prefix_to_lines(text, prefix)
print(result)

--> Line one
--> Line two
--> Line three

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
def print_two_decimal_places(numbers):
    for num in numbers:
        print("{:.2f}".format(num))

nums = [3.14159, 2.71828, 1.41421, 0.33333]
print_two_decimal_places(nums)

3.14
2.72
1.41
0.33

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
def print_with_sign(numbers):
    for num in numbers:
        print("{:+.2f}".format(num))

nums = [3.14159, -2.71828, 0, 1.5, -0.3333]
print_with_sign(nums)

+3.14
-2.72
+0.00
+1.50
-0.33

**15-Write a Python program to display a number with a comma separator

In [ ]:
def display_with_commas(number):
    print("{:,}".format(number))

num = 1234567890
display_with_commas(num)

1,234,567,890

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
def reverse_string_slicing(s):
    return s[::-1]

text = "hello"
print("Reversed (slicing):", reverse_string_slicing(text))

Reversed (slicing): olleh

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
def count_repeated_characters(s):
    char_count = {}

    for char in s:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

    for char, count in char_count.items():
        if count > 1:
            print(f"Character '{char}' repeated {count} times.")

text = "programming"
count_repeated_characters(text)

Character 'r' repeated 2 times.
Character 'g' repeated 2 times.
Character 'm' repeated 2 times.

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def first_non_repeating_char(s):
    char_count = {}

    for char in s:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

    for char in s:
        if char_count[char] == 1:
            return char

    return None
text = "aabbcdeff"
result = first_non_repeating_char(text)
if result:
    print("First non-repeating character:", result)
else:
    print("No non-repeating character found.")

First non-repeating character: c

**19-Write a Python program to remove spaces from a given string

In [ ]:
def remove_spaces(s):
    return s.replace(" ", "")

text = "Python is awesome"
print("Without spaces:", remove_spaces(text))

Without spaces: Pythonisawesome

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
def count_non_empty_substrings(s):
    n = 0
    for _ in s:
        n += 1
    return (n * (n + 1)) // 2

text = "abc"
print("Number of non-empty substrings:", count_non_empty_substrings(text))

Number of non-empty substrings: 6

**21-write a Python program to swap first and last element of any list.

In [ ]:
def swap_first_last(lst):
    if len(lst) < 2:
        return lst
    temp = lst[0]
    lst[0] = lst[-1]
    lst[-1] = temp
    return lst

my_list = [10, 20, 30, 40, 50]
print("Before swap:", my_list)
print("After swap:", swap_first_last(my_list))

Before swap: [10, 20, 30, 40, 50]
After swap: [50, 20, 30, 40, 10]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
def swap_elements(lst, pos1, pos2):
    temp = lst[pos1 - 1]
    lst[pos1 - 1] = lst[pos2 - 1]
    lst[pos2 - 1] = temp
    return lst

my_list = [23, 65, 19, 90]
pos1 = 1
pos2 = 3

print("Before swap:", my_list)
print("After swap:", swap_elements(my_list, pos1, pos2))

Before swap: [23, 65, 19, 90]
After swap: [19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
lst = [10, 20, 30, 40]
count = 0
for _ in lst:
    count += 1
print(count)

4

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

**26-search for if an elem is existing in list

In [ ]:
lst = [10, 20, 30, 40]
try:
    lst.index(20)
    print("Found")
except ValueError:
    print("Not found")

Found

**27- clear python list using different ways

In [ ]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list)

[]

**28-remove duplicated elements from a list

In [ ]:
my_list = [1, 2, 2, 3, 4, 1]
seen = set()
unique_list = [x for x in my_list if not (x in seen or seen.add(x))]
print(unique_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
def convert_to_dict_list(values, keys):
    result = []
    for i in range(0, len(values), len(keys)):
        group = values[i:i+len(keys)]
        item_dict = {}
        for k in range(len(keys)):
            item_dict[keys[k]] = group[k]
        result.append(item_dict)
    return result

test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

output = convert_to_dict_list(test_list, key_list)
print(output)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
my_list = [1, 2, 2, 3, 4, 1, 5]
unique_values = set(my_list)
print("Unique values:", unique_values)
print("Count:", len(unique_values))

Unique values: {1, 2, 3, 4, 5}
Count: 5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
from collections import Counter

test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]

K = 3

element_count = Counter(test_list)

result = [key for key, value in element_count.items() if value > K]

print("Elements with frequency greater than K:", result)

Elements with frequency greater than K: [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
nums = [1, 2, 2, 3, 4, 5]

strongest_neighbors = []

for i in range(1, len(nums)):
    if nums[i] > nums[i - 1]:
        strongest_neighbors.append(nums[i])

print("Strongest Neighbours:", strongest_neighbors)

Strongest Neighbours: [2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
import itertools

nums = [1, 2, 3]

combinations = itertools.permutations(nums)

for combination in combinations:
    print(" ".join(map(str, combination)))

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
import itertools

test_list = [1, 2, 3]

combinations = []
for r in range(1, len(test_list) + 1):
    combinations.extend(itertools.combinations(test_list, r))

for combo in combinations:
    print(list(combo))

[1]
[2]
[3]
[1, 2]
[1, 3]
[2, 3]
[1, 2, 3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
import itertools

List_1 = ["a", "b"]
List_2 = [1, 2]

unique_combinations = []
for combo in itertools.permutations(List_2, len(List_1)):
    unique_combinations.append(list(zip(List_1, combo)))

print(unique_combinations)

[[('a', 1), ('b', 2)], [('a', 2), ('b', 1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

result = [list1[i] for i in list2]

print("The lists after index elements replacements is:", result)

The lists after index elements replacements is: ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
from collections import Counter

def retain_records_with_n_occurrences(test_list, K, N):
    result = [tup for tup in test_list if Counter(tup)[K] == N]
    return result

test_list1 = [(4, 5, 5, 4), (5, 4, 3)]
K1, N1 = 5, 2
K2, N2 = 5, 3

print("Result for test_list1 with K =", K1, "and N =", N1, ":", retain_records_with_n_occurrences(test_list1, K1, N1))
print("Result for test_list1 with K =", K2, "and N =", N2, ":", retain_records_with_n_occurrences(test_list1, K2, N2))

Result for test_list1 with K = 5 and N = 2 : [(4, 5, 5, 4)]
Result for test_list1 with K = 5 and N = 3 : []

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}

K = 7

result = {key: value for key, value in test_dict.items() if (isinstance(value, int) and value <= K) or not isinstance(value, int)}

print("Updated dictionary:", result)

Updated dictionary: {'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

result = {**dic1, **dic2, **dic3}

print("Concatenated dictionary:", result)

Concatenated dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
sample_dict = {'a': 1, 'b': 2, 'c': 3}

for key, value in sample_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)

print("Merged Dictionary:", dict1)

Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 4, 'd': 100}

max_value = max(my_dict.values())
min_value = min(my_dict.values())

print("Maximum Value:", max_value)
print("Minimum Value:", min_value)

Maximum Value: 100
Minimum Value: 4

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
num_tuple = (10, 20, 30, 40, 50)

print("The first item in the tuple is:", num_tuple[0])

The first item in the tuple is: 10

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
my_tuple = (10, 20, 30, 40)

a, b, c, d = my_tuple

print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)

a = 10
b = 20
c = 30
d = 40

**49-Write a Python program to add an item to a tuple

**50-Write a Python program to convert a tuple to a string

In [ ]:
sample_tuple = ('p', 'y', 't', 'h', 'o', 'n')

converted_string = ''.join(sample_tuple)

print("Converted string:", converted_string)

Converted string: python

**51-Write a Python program to convert a list to a tuple

In [ ]:
sample_list = [1, 2, 3, 4, 5]

converted_tuple = tuple(sample_list)

print("Converted tuple:", converted_tuple)

Converted tuple: (1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [ ]:
sample_tuple = (1, 2, 3, 4, 5)

reversed_tuple = sample_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

updated_list = [tuple_[:-1] + (100,) for tuple_ in sample_list]

print("Updated list:", updated_list)

Updated list: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
original_string = "python 3.0"

converted_tuple = tuple(original_string)

print("Original string:", original_string)
print("Converted tuple:", converted_tuple)

Original string: python 3.0
Converted tuple: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
def calculate_average(tuples):
    all_values = [value for tuple_ in tuples for value in tuple_]


    average = sum(all_values) / len(all_values) if all_values else 0
    return average

tuple_of_tuples = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

average = calculate_average(tuple_of_tuples)
print("Average value:", average)

Average value: 5.0

**56-Write a Python program to add member(s) to a set.

In [ ]:
def add_to_set(s, *items):
    for item in items:
        s.add(item)
    return s

my_set = {1, 2, 3}

my_set = add_to_set(my_set, 4)
print("Updated set after adding one item:", my_set)

my_set = add_to_set(my_set, 5, 6, 7)
print("Updated set after adding multiple items:", my_set)

Updated set after adding one item: {1, 2, 3, 4}
Updated set after adding multiple items: {1, 2, 3, 4, 5, 6, 7}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
def remove_item_from_set(s, item):
    if item in s:
        s.remove(item)
        print(f"Item '{item}' has been removed.")
    else:
        print(f"Item '{item}' is not present in the set.")
    return s

my_set = {1, 2, 3, 4, 5}

my_set = remove_item_from_set(my_set, 3)
print("Updated set:", my_set)

my_set = remove_item_from_set(my_set, 6)
print("Updated set:", my_set)

Item '3' has been removed.
Updated set: {1, 2, 4, 5}
Item '6' is not present in the set.
Updated set: {1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
def set_operations(set1, set2):
    intersection = set1 & set2

    union = set1 | set2

    difference = set1 - set2

    symmetric_difference = set1 ^ set2

    return intersection, union, difference, symmetric_difference

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection, union, difference, symmetric_difference = set_operations(set1, set2)

print("Intersection:", intersection)
print("Union:", union)
print("Difference (set1 - set2):", difference)
print("Symmetric Difference:", symmetric_difference)

Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Difference (set1 - set2): {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
def find_max_min(s):
    max_value = max(s)
    min_value = min(s)
    return max_value, min_value

my_set = {10, 20, 4, 45, 99}
max_val, min_val = find_max_min(my_set)

print("Maximum value:", max_val)
print("Minimum value:", min_val)

Maximum value: 99
Minimum value: 4

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
def find_pairs_with_sum(lst, target_sum):
    pairs = []
    seen = set()

    for num in lst:
        complement = target_sum - num
        if complement in seen:
            pairs.append((complement, num))
        seen.add(num)

    return pairs

my_list = [1, 2, 3, 4, 5, 6]
target = 7
result = find_pairs_with_sum(my_list, target)
print("Pairs with sum", target, ":", result)

Pairs with sum 7 : [(3, 4), (2, 5), (1, 6)]