### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [11]:
a = int(input('Enter 1st number: '))
b = int(input('Enter 2nd number: '))

print(f'Sum of {a} and {b} is {a + b}')

Enter 1st number: 5
Enter 2nd number: 6
Sum of 5 and 6 is 11

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [12]:
num = int(input("Enter an integer: "))

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter an integer: 6
Even

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [13]:
for num in range(1, 21):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [4]:
def count_vowels(s):
    vowels = "aeiouAEIOU"

    count = sum(1 for char in s if char in vowels)

    return count

input_string = input("Enter a string: ")
print("Number of vowels:", count_vowels(input_string))

Enter a string: abdo
Number of vowels: 2

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [14]:
numbers = list(range(1, 11))

for num in numbers:
    result = num ** 2
    print(f"{num} raised to power 2 is {result}")

1 raised to power 2 is 1
2 raised to power 2 is 4
3 raised to power 2 is 9
4 raised to power 2 is 16
5 raised to power 2 is 25
6 raised to power 2 is 36
7 raised to power 2 is 49
8 raised to power 2 is 64
9 raised to power 2 is 81
10 raised to power 2 is 100

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

In [ ]:
# Step 1: Initialize variables
student_name = input("Enter the student's name: ")
subjects = []
scores = []

num_subjects = int(input("Enter the number of subjects: "))

for i in range(num_subjects):
    subject = input(f"Enter the name of subject {i + 1}: ")
    score = float(input(f"Enter the score for {subject}: "))

    subjects.append(subject)
    scores.append(score)

average_grade = sum(scores) / num_subjects

print(f"\nStudent: {student_name}")
print(f"Subjects and Scores: {dict(zip(subjects, scores))}")
print(f"Average Grade: {average_grade:.2f}")

if average_grade > 70:
    print("Congratulations! You passed with a good score! 🎉")
else:
    print("Keep going! You can improve next time! 💪")

### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [ ]:
list3

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [ ]:
def remove_element(lst, element):
    return [x for x in lst if x != element]
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
element_to_remove = int(input("Enter the element to remove: "))

updated_list = remove_element(numbers, element_to_remove)

print("Updated list after removal:", updated_list)

### 9-Given 4 numbers A, B, C and D. Print the last 2 digits from their Multiplication.
### Example :
### the Multiplication of 4 numbers is 5 * 7 * 2 * 4 = 280 so the answer will be the last 2 digits which are 80.

### 10- Given a number X. Determine if the number is prime or not

### 11- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

### 12- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the array is lucky if the frequency (number of occurrence) of the minimum element is odd.

In [3]:
N = int(input("Enter the number of elements N: "))
A = list(map(int, input("Enter the elements separated by space: ").split()))
min_num = min(A)
min_count = A.count(min_num)
if min_count % 2 == 1:
    print("Lucky")
else:
    print("Unlucky")

Enter the number of elements N: 4
Enter the elements separated by space: 3
Lucky

### 13-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [2]:
N = int(input("Enter the number of elements N: "))
A = list(map(int, input("Enter the elements separated by space: ").split()))
min_num = min(A)
max_num = max(A)
min_index = A.index(min_num)
max_index = A.index(max_num)
A[min_index], A[max_index] = A[max_index], A[min_index]
print("Array after swapping min and max:", A)

Enter the number of elements N: 4
Enter the elements separated by space: 4 6 7 3
Array after swapping min and max: [4, 6, 3, 7]

In [ ]:
maximum

### 14-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

In [1]:
N = int(input("Enter the number of elements N: "))
A = list(map(int, input("Enter the elements separated by space: ").split()))
lowest_num = min(A)
position = A.index(lowest_num)
print("The lowest number is:", lowest_num)
print("Its position is:", position)

Enter the number of elements N: 4
Enter the elements separated by space: 6 9 3 7
The lowest number is: 3
Its position is: 2

### 15-Given a number N and an array A of N numbers. Print the numbers after sorting them

In [16]:
N = int(input(" enter your number of elemnts: "))
A = list(map(int, input(" enter your elemnts  : ").split()))
A.sort()
print("the list after sorting:", A)

 enter your number of elemnts: 6
 enter your elemnts  : 10
the list after sorting: [10]

### 16- Write a Python program to remove spaces from a given string

In [ ]:
string = input("Enter the string: ")
no_spaces = string.replace(" ", "")
print(" after removing spaces:", no_spaces)

### 17-write a Python program to swap first and last element of any list.

In [18]:
my_list = [1, 2, 3, 4, 5]

if len(my_list) > 1:
    my_list[0], my_list[-1] = my_list[-1], my_list[0]

print("list after swaping :", my_list)

list after swaping : [5, 2, 3, 4, 1]

# **Write a Python Program to Find HCF.**
## Highest Common Factor(HCF): HCF, or Highest Common Factor, is the largest positive integer that divides two or more numbers without leaving a remainder. Formula: For two numbers a and b, the HCF can be found using the formula:

** HCF(𝑎, 𝑏) = GCD(𝑎, 𝑏)**
For more than two numbers, you can find the HCF by taking the GCD of pairs of numbers at a time until you reach the last pair.

# **Note: GCD stands for Greatest Common Divisor, use function.**